<div class="row">
  <div class="col col-md-4">
    <h2>inputan nilai siswa</h2>
    <form action="/input/simpan" method="POST" class="mt-4">
      <div class="mb-1">
        <label for="nama" class="form-label">Nama</label>
        <input type="text" class="form-control" id="nama" name="nama" required>
      </div>
      <div class="mb-1">
        <label for="nn" class="form-label">Nilai Normatif</label>
        <input type="number" class="form-control" id="nn" name="nn" required>
      </div>
      <div class="mb-1">
        <label for="na" class="form-label">Nilai Adaptif</label>
        <input type="number" class="form-control" id="na" name="na" required>
      </div>
      <div class="mb-1">
        <label for="ns" class="form-label">Nilai Sikap</label>
        <input type="number" class="form-control" id="ns" name="ns" required>
      </div>
      <div class="mb-1">
        <label for="nd" class="form-label">Nilai Disiplin</label>
        <input type="number" class="form-control" id="nd" name="nd" required>
      </div>
      <div class="mb-1">
        <label for="nk" class="form-label">Nilai Kreatif</label>
        <input type="number" class="form-control" id="nk" name="nk" required>
      </div>
      <div class="mb-3">
        <label for="nr" class="form-label">Nilai Rapor</label>
        <input type="number" class="form-control" id="nr" name="nr" required>
      </div>
      <button type="submit" class="btn btn-primary">Simpan</button>
    </form>
  </div>
</div>